.current-month-invests-container {
  .p-datatable {
    .p-datatable-thead > tr > th {
      justify-content: center;
    }
    .p-element {
      .schema-name {
        min-width: 22rem;
      }
      &.schema-name {
        min-width: 22rem;
      }
      .remaining-percent {
        min-width: 10rem;
      }
      &.remaining-percent {
        min-width: 10rem;
      }
    }
  }
}
