<!-- <nav class="docs-navbar-header">
  <div class="navbar-header" fxFlex fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <a class="mat-focus-indicator docs-button mat-button mat-button-base profile-link" fxLayoutGap="10px">Kanth</a>
    <a class="mat-focus-indicator docs-button mat-button mat-button-base profile-link" fxLayoutGap="10px">Madhukar</a>
    <a class="mat-focus-indicator docs-button mat-button mat-button-base profile-link" fxLayoutGap="10px">Vaagdevi</a>
  </div>
</nav> -->

<div class="navigation">
  <p-menubar [model]="items"></p-menubar>
</div>
