.current-month-view-container {
  .date-filter {
    width: 10rem;
    .p-calendar {
      width: 100% !important;
    }
  }
  .each-goal {
    border: 1px solid gray;
    margin: 0.25rem;
    padding: 0.5rem;
    line-height: 1.5rem;
  }
}
